# Evitar que o arquivo .env seja versionado
.env

# Ignorar a pasta node_modules (onde ficam as dependências do projeto)
node_modules/

# Evitar cache e logs locais
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Evitar arquivos temporários do sistema operacional
.DS_Store          # macOS
Thumbs.db          # Windows

# Ignorar logs da aplicação
logs
*.log
logs/*

# Ignorar arquivos de pacotes como dist ou build
dist/
build/

# Evitar arquivos gerados por editores de texto/IDEs
.idea/             # WebStorm/IntelliJ
.vscode/           # Visual Studio Code
*.swp              # Arquivos de swap do Vim
*.swo              # Arquivos de swap do Vim


